.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 30px;
  text-align: center;
}

.input-label {
  margin-bottom: 20px;
}

.colored-wrapper {
  background-color: palevioletred;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.button {
  display: block;
  margin-bottom: 20px;
  width: 250px;
  height: 50px;
  text-align: center;
}

.button-half {
  flex-basis: 48%;
}

.length-status {
  margin: 0 auto;
  color: white;
}

.input-field {
  margin: 0 20px;
}

.greeting-wrapper {
  min-height: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
}